* {
    box-sizing: border-box;
    --cell-dimensions: 100px;
}

html, body {
    width: 100%;
    height: 100%;
}

.board {
    display: flex;
    flex-direction: column;
}

.board__row {
    display: flex;
}

.board__cell {
    width: var(--cell-dimensions);
    height: var(--cell-dimensions);
    border: 5px solid black;
}

/*
TODO: Use X & O's instead of colors
*/

.board__cell--player1 {
    background-color: yellow;
}
.board__cell--player2 {
    background-color: red;
}